@use '@angular/material' as mat;
@use '../db-colors';
@use '../utils';
@use './core.scss';

$theme-color-config: (
  primary: mat.define-palette(db-colors.$db-cyan, A200, A100, A700),
  accent: mat.define-palette(db-colors.$db-cool-gray, A200, A100, A700),
  warn: mat.define-palette(db-colors.$db-yellow, A400, A100, A700),
);


$colors-to-patch: (
  success: mat.define-palette(db-colors.$db-green),
);


$brand-theme: mat.define-dark-theme(
    utils.with-core-config($theme-color-config)
);

$patched-brand-theme: utils.patch-color-config($brand-theme, $colors-to-patch);


@include utils.create-theme-bundle($patched-brand-theme);

