@use '@angular/material' as mat;


@font-face {
  font-family: 'DBScreenHeadBlack';
  src: url('/assets/fonts/DBScreenHead-Black.woff2') format('woff2'),
  url('/assets/fonts/DBScreenHead-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dbscreenheadlight';
  src: url('/assets/fonts/dbscreenhead-light.woff2') format('woff2'),
  url('/assets/fonts/dbscreenhead-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dbscreensansregular';
  src: url('/assets/fonts/dbscreensans-regular.woff2') format('woff2'),
  url('/assets/fonts/dbscreensans-regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DBScreenHeadRegular';
  src: url('/assets/fonts/DBScreenHead-Regular.woff2') format('woff2'),
  url('/assets/fonts/DBScreenHead-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'dbscreensansbold';
  src: url('/assets/fonts/dbscreensans-bold.woff2') format('woff2'),
  url('/assets/fonts/dbscreensans-bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


$db-web-typography: mat.define-typography-config(
  $font-family: 'dbscreensansregular',
  $headline-5: mat.define-typography-level(36px, 40px, 400, 'DBScreenHeadBlack'), // <h1></h1>
  $headline-6: mat.define-typography-level(24px, 28px, 400, 'DBScreenHeadBlack'), // <h2></h2>
  $subtitle-1: mat.define-typography-level(20px, 24px, 400, 'DBScreenHeadBlack'), // <h3></h3>
  $headline-4: mat.define-typography-level(18px, 24px, 400, 'dbscreensansbold'), // <h4></h4> .mat-headline-4

  $headline-1: mat.define-typography-level(24px, 28px, 400, 'dbscreenheadlight'), // Subline 1
  $headline-2: mat.define-typography-level(20px, 24px, 400, 'dbscreenheadlight'), // Subline 2

  $body-1: mat.define-typography-level(16px, 20px, 400, 'dbscreensansregular'), // body 1
  $body-2: mat.define-typography-level(14px, 20px, 400, 'dbscreensansregular'), // body 2
  $caption: mat.define-typography-level(12px, 16px, 400, 'dbscreensansregular'), // caption


  $subtitle-2: mat.define-typography-level(14px, 20px, 400, 'dbscreensansregular'), // card-subtitle
  $button: mat.define-typography-level(16px, 20px, 400, 'dbscreensansregular'), // button
);

@include mat.typography-hierarchy($db-web-typography);

