@use '@angular/material' as mat;


@font-face {
  font-family: 'DB Screen Head';
  src: url('/assets/fonts/DBScreenHead-Black.woff2') format('woff2'),
  url('/assets/fonts/DBScreenHead-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DB Screen Head Light';
  src: url('/assets/fonts/dbscreenhead-light.woff2') format('woff2'),
  url('/assets/fonts/dbscreenhead-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DB Screen Sans';
  src: url('/assets/fonts/dbscreensans-regular.woff2') format('woff2'),
  url('/assets/fonts/dbscreensans-regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DB Screen Head Regular';
  src: url('/assets/fonts/DBScreenHead-Regular.woff2') format('woff2'),
  url('/assets/fonts/DBScreenHead-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DB Screen Sans Bold';
  src: url('/assets/fonts/dbscreensans-bold.woff2') format('woff2'),
  url('/assets/fonts/dbscreensans-bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


$db-web-typography: mat.define-typography-config(
  $font-family: 'DB Screen Sans',
  //$headline-5: mat.define-typography-level(36px, 40px, 400, 'DB Screen Head'), // <h1></h1>            Headline 1

  $headline-5: mat.define-typography-level(36px, 40px, 400, 'DB Screen Head'), // <h1></h1>            Headline 1
  //$headline-6: mat.define-typography-level(24px, 28px, 400, 'DB Screen Head'), // <h2></h2>            Headline 2
  $headline-6: mat.define-typography-level(18px, 24px, 400, 'DB Screen Head'), // <h2></h2>            Headline 2
  $subtitle-1: mat.define-typography-level(20px, 24px, 400, 'DB Screen Head'), // <h3></h3>            Headline 3
  $headline-4: mat.define-typography-level(18px, 24px, 400, 'DB Screen Sans'), // .mat-headline-4      Headline 4

  $headline-1: mat.define-typography-level(24px, 28px, 400, 'DB Screen Head Light'), //.mat-headline-1  Subline 1
  $headline-2: mat.define-typography-level(20px, 24px, 400, 'DB Screen Head Light'), //.mat-headline-1  Subline 2

  $body-1: mat.define-typography-level(16px, 20px, 400, 'DB Screen Sans'), // body 1
  $body-2: mat.define-typography-level(14px, 20px, 400, 'DB Screen Sans'), // body 2
  $caption: mat.define-typography-level(12px, 16px, 400, 'DB Screen Sans'), // caption


  $subtitle-2: mat.define-typography-level(14px, 20px, 400, 'DB Screen Sans'), // card-subtitle
  $button: mat.define-typography-level(16px, 20px, 400, 'DB Screen Sans'), // button
);

@debug $db-web-typography;
@include mat.typography-hierarchy($db-web-typography);

