@use "@angular/material" as mat;
@use "../db-colors";
@use "../utils";
@use "./core.scss";

$theme-color-config: (
  primary:  mat.define-palette(db-colors.$db-red),
  accent: mat.define-palette(db-colors.$db-cool-gray, 700, 400,800),
  warn: mat.define-palette(db-colors.$db-cool-gray, 700, 400,800)
);

$colors-to-patch: (

  //background: ( // set general background color
  //  background: mat.get-color-from-palette(mat.$red-palette, 500),
  //),
  foreground: (
    text: mat.get-color-from-palette(mat.$blue-gray-palette, 900),
  ),
  success: mat.define-palette(db-colors.$db-light-green, 600),
);

$brand-theme: mat.define-light-theme(
  utils.with-core-config($theme-color-config)
);

$patched-brand-theme: utils.patch-color-config($brand-theme, $colors-to-patch);

@include utils.create-theme-bundle($patched-brand-theme);

@mixin apply-theme() {
  @include utils.create-theme-bundle($patched-brand-theme);
}
